<% include ../partials/head %>
    <% include ../partials/header %>

        <h2>Edit Time</h2>
        <div class='form'>
            <div class="form-group">
                <input id='date' type="date" placeholder="Date" />
            </div>
            <div class="form-group">
                <input id='time' type="number" placeholder="Spent time" />
            </div>
            <div class="form-group">
                <input id='note' type="textarea" placeholder="Note" />
            </div>
            <button id="edit-time" class=" btn btn-info">Edit</button>
        </div>
        <% include ../partials/footer %>
