<% include ../partials/head %>
<% include ../partials/header %>
    <table border="1"  id="time-list">
        <tr>
            <th>Date</th>
            <th>Total time</th>
            <th>Notes</th>
        </tr>
    </table>
    <% include ../partials/footer %>
